<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.webapp.dao.appMapper">

<insert id="joinUser" parameterType="User">
insert into user_tb(
	userid    
    ,userpwd       
)values(
	#{userid}    
    ,#{userpwd}     
)
</insert>

<select id="selectUser" parameterType="String" resultType="User">
select
	userid    
    ,userpwd    
    ,count     
    ,theme     
    ,background
from
	user_tb
where
	userid = #{userid}
</select>

<select id="userIdCheck" parameterType="String" resultType="User">
select
	userid 
from
	user_tb
where
	userid = #{userid}
</select>
	
	<insert id="addBookmark" parameterType="bookmarkVO">
		<selectKey keyProperty="bseq" resultType="int" order="AFTER">
			SELECT BOOKMARK_SEQ.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO BOOKMARK(BSEQ, USERID, BOOK_URL, SITE_NAME, ORDER_NO)
		VALUES(BOOKMARK_SEQ.NEXTVAL, #{userId}, #{bookUrl}, #{siteName}, (SELECT NVL(MAX(ORDER_NO) + 1, 1) FROM BOOKMARK WHERE USERID = #{userId}))
	</insert>
	
	<select id="selectBookmarkList" parameterType="string" resultType="bookmarkVO">
	SELECT BSEQ, USERID, BOOK_URL, SITE_NAME, ORDER_NO FROM BOOKMARK WHERE USERID = #{userId}
	</select>
	
	<select id="selectBookmark" parameterType="int" resultType="bookmarkVO">
	SELECT BSEQ, USERID, BOOK_URL, SITE_NAME, ORDER_NO FROM BOOKMARK WHERE BSEQ = #{bseq}
	</select>

<update id="sessionUpdate" parameterType="String">
UPDATE
	user_tb
SET
	count = 1
WHERE
	userid = #{userid}
</update>

<update id="sessionDelete" parameterType="String">
UPDATE
	user_tb
SET
	count = 0
WHERE
	userid = #{userid}
</update>

<select id="selectAllUser" resultType="User">
SELECT
	*
FROM
	user_tb
WHERE
	count = 1
</select>
</mapper>
