<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.webapp.dao.appMapper">

<insert id="joinUser" parameterType="User">
insert into user_tb(
	userid    
    ,userpwd       
)values(
	#{userid}    
    ,#{userpwd}     
)
</insert>

<select id="selectUser" parameterType="String" resultType="User">
select
	userid    
    ,userpwd    
    ,count     
    ,theme     
    ,background
from
	user_tb
where
	userid = #{userid}
</select>

<select id="userIdCheck" parameterType="String" resultType="User">
select
	userid 
from
	user_tb
where
	userid = #{userid}
</select>

</mapper>
